@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*or use downloaded font
@fontface{
  font-family: font-name;
  src: url(../fonts/the-font-file.ttf);
}*/
body{
  font-size: calc(16px + 1vw);
  line-height: calc(1.1 em + 0.5vw)
}

h1 {
  color: red;
  font-size: 4rem;
  text-align: center;
  text-shadow: #FC0 1px 0 10px;
}

.vh{
  height: 10vh;
}
.vw{
  width: 100vw;
}

.container {
  max-width: 200px;
  margin: auto;
}

.svg-circle:hover + .svg-text-group {
  opacity: 0;
}

html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

caption {
  padding: 10px;
}

/*th:nth-child(3){
        background-color: red;
    }
    */

li{
  font-size: 80%;
}
.box{
  opacity: 1;
  width: 10rem;
  border-style: solid;
  border-color: rgb(255, 230, 0);
}
.box::after{
  content: ' This is a string in CSS.'
}
.one {
  background-color: antiquewhite;
}

.two {
  background-color: blueviolet;
}

.three {
  background-color: greenyellow;
}
.four {
  background-color: #02798b;
}

.five {
  background-color: #c55da1;
}

.six {
  background-color: #128a7d;
}
.seven {
  background-color: rgb(2 121 139);
}

.eight {
  background-color: rgb(197 93 161);
}

.nine {
  background-color: rgb(18 138 125 / .9);
}
/* The height/width ratio for our video */
:root {
  --ratio: 9 / 14;
  --width: 98vmin;
  --height: calc(var(--width) * var(--ratio));
}

* {
  box-sizing: border-box;
}

/* Slide Layout */
.slide {
  background: #fff;
  border: 1px solid;
  font-size: 3.5vmin;
  margin: 1vmin auto;
  padding: 3vmin;
  width: var(--width);
  height: var(--height);
  text-align: center;
}


/* Inside Styles */
h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h1, p {
  margin-bottom: 3vmin;
}

img {
  display: block;
  margin: 3vmin auto;
  width: 15vmin;
}

.bigred {
  color: red;
  font-size: 3em;
}

/* Body */
body {
  background: #ccc;
  /*font-family: 'Times New Roman', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.wide{
  font-size: 24px;
  letter-spacing: 0.4rem;
}
.narrow{
  font-size: 48px;
  letter-spacing: -0.15rem;
}

p.line-height {
  line-height: 1.5;
  text-transform: uppercase;
}
/*
.overflowing{
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}*/