:root{
    --main-color:rgb(255, 0, 0);
    --h-color: white;
    --h-weight: 600;
}

:root.dark {
    --border-btn: 1px solid rgb(220, 220, 220);
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);
    --color-btn-bg: rgb(36, 36, 36);
}

:root.light {
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
    --color-btn-bg: rgb(220, 220, 220);
}

body{
    width: max(50%, 500px);
    --blueBackgroundColor: rgb(92, 92, 150);
    background-color: var(--color-base-bg);
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-toggle {
    background-color: var(--color-btn-bg);
    border: var(--border-btn);
    font-size: 1.2rem;
    padding: 10px 20px;
}

.theme-toggle:hover {
    cursor: pointer;
}

.theme-toggle:focus {
    outline: var(--border-btn);
}

.error-modal {
    --color-error-text: red;
    --modal-border: 1px solid black;
    --modal-font-size: calc(2rem + 5vw);

    color: var(--color-error-text);
    border: var(--modal-border);
    font-size: var(--modal-font-size);
}

.fallback{
    --color-text: white;

    background-color: var(--undeclared-property, black);
    color: var(--undeclared-property, var(--color-text, yellow));
}

.cool-div{
    --main-bg:red;
}
.cool-paragraph{
    background-color: var(--main-bg);
}
.boring-paragraph{
    background-color: var(--main-bg);
}
.very-cool-paragraph {
    color:var(--main-color);
}
.exciting-paragraph {
    background-color: var(--main-color);
}

h3 {
    color:var(--h-color);
    font-weight: var(--h-weight);
}