body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    /* first bg: background-image: url('/sign_up_form/tutorial/images/halie-west-25xggax4bSA-unsplash.jpg'); */
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    /* font-family: 'Lora'; */
}
.right {
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 250, 251);
    width: 65vw;
}

.first {
    height: 35vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-right: 15%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.second {
    height: 40vh; /*45*/
    background-color: white;
}

.form-main-div {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    width: 80%;
}

.form-divs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 60px;
}

input {
    width: 200px;
    border-color: 1px solid #E5E7EB;
}

input[type='password']:invalid {
    border-color: red;
}

button[type='submit'] {
    background-color: rgb(89, 109, 72);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 140px;
    height: 35px;
    margin-left: 5%;
    margin-top: 30px;
}

.third {
    height: 25vh;
    display: flex;
    flex-direction: column;
}

a {
    color: rgb(139, 139, 139);
}

.for-image {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 25vh;
    margin-top: 50%
}

.for-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.808);
}

.green-link {
    color: rgb(89, 109, 72); /*comment*/
}