/*body{
	width: max(1rem, 50%, 10vw)
}*/

#container {
	display: flex;
    box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 6px solid black;
    resize: both;
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
}

#iconHolder {
	width: min(150px, 100%);
	height: min(150px, 100%);
    box-sizing: border-box;
    border: 6px solid blue;
}

max {
    width: max(100px, 4em, 50%);
}

h1{
    font-size: clamp(20px, 1vw, 20rem);
}

#result{
	width: calc(25+30);
	color: orangered;
	font-style:italic;
}

#clamp{
	color: green;
	width: 50px;
	height: 50px;
	font-size: clamp(8px, 2vw, 32px);
}

#box{
	background-color: rgb(70, 70, 0);
	height: 20vh;
	width: 50vw;
}

p{
	width: clamp(45ch, 50%, 75ch);
	font-size: clamp(1.5rem, 5vw, 3rem);
}

header{
	--contentWidth: 400px;
	--blockPadding: 1rem;
	
	background: lightpink;
	padding: var(--blockPadding) max(2rem, 50vw - var(--contentWidth) / 2);
}

property{
	width: clamp();
	width: max();
	width: min();
	width: calc();
}